:root {
    --bg-dark:#343535;
    --bg-color:#454647;
    --text-color: #d9643a; 
    --hover-color:#bc4c24;
    --focus: #0044ca;
    --text-white:#fff;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'Dancing Script', cursive;
    background-color: var(--bg-color);
}
a {
    text-decoration: none;
    color: var(--text-white);
}
footer {
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    padding: 0 5rem;
    font-size: 1.5rem;
    border-top: 0.3rem solid var(--text-color);
}
