/* here we put positions and allignments  */

.container {
    display: flex;
    flex-wrap: wrap;
    color: var(--text-color);
    margin: 0 auto;
    padding: 1rem 0;
    background-color: var(--bg-dark);
    width: 67rem ;
    /* overflow: hidden; */
}
